body{
    font-family: 'Golos Text', sans-serif;
    font-family: 'Mulish', sans-serif;
}

.myClassNavlinkHover:hover{ 
    color: #d30f0f !important;
    /* ff0037 */
    /* d30f0f */
}

 .bg-image{ 
    height: 100vh;
    background-size: cover;
    filter: brightness(0.9);
}


.myOwnClassDivOnMainImage > .myOwn{
    background-color: #d30f0f;
    opacity: 0.7;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important; 
    /* changed from bootstrap.css file - line from 4203 to 4205 (only rgba% value) */
    }
  .navbar-light .navbar-toggler {
    color: rgba(255, 252, 252) !important;
    border-color: rgba(255, 252, 252) !important; 
    /* changed from bootstrap.css file - line from 4199 to 4202 */
} 

  